/* -------  Type ------- */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
div {
  font-family: 'Source Code Pro', monospace;
}

ul {
  font-size: 18px;
}

ol {
  text-align: justify;
}

article a {
  font-size: 20px;
}

p {
  padding: 5px;
}

/* -------  Background ------- */

body {
  background-image: url(images/triangle-mosaic.png);
  margin: 0;
}

/* ----- Slider -------- */

* {
  box-sizing: border-box
}

/* .mySlides1, .mySlides2 {
  display: none
} */

img {
  vertical-align: middle;
}

/* Slideshow container */

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #f1f1f1;
  color: black;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */

/* .prev:hover, .next:hover {} */

/* ------- Flexbox and Main ------- */

#info {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
}

#info-list {
  list-style-type: none;
}

#about-me, #my-services, #quick-email {
  border: 2px black solid;
  padding: 10px;
}

#portfolio {
  display: flex;
  flex-direction: column;
  border: 2px black solid;
}

hr {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  height: 1px;
  background-color: rgb(128, 124, 124);
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-triple {
  flex: 3;
}

/* ------- Header ------- */

header {
  background-color: black;
  margin-bottom: 40px;
}

header h1 {
  color: white;
}

header h2 {
  color: white;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav a {
  display: flex;
  margin: 0 20px 0 0;
  text-decoration: none;
  font-size: large;
}

header a:link {
  color: white;
}

header a:visited {
  color: #6fdff3;
}

header a:hover {
  color: rgb(13, 98, 151);
}

header a:active {
  color: #a830b8;
}

#main-menu {
  visibility: hidden;
  overflow: hidden;
  margin-left: 70%;
}

#menu-show-hide {
  display: inline;
  margin-left: 80%;
}

#menu-show-hide+label:before {
  content: "Menu";
  width: 50px;
  height: 30px;
  background-color: black;
  color: white;
  overflow: hidden;
  transition: background-color 0.4s;
  text-align: center;
}

#menu-show-hide:checked+label:before {
  content: "Menu";
}

#menu-show-hide:checked+label+nav {
  display: block;
  visibility: visible;
}

/* Menu Checkbox */

input[type=checkbox] {
  visibility: hidden;
}

/* -------  Main ------- */

form label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  color: black;
}

form textarea {
  display: block;
  height: 4.75rem;
  width: 100%;
  color: #000;
  font-size: 16px;
  margin-bottom: 20px;
}

form button {
  padding: 10px 16px;
  border: 0;
  font-size: 16px;
  background: #000;
  color: #fff;
}

/* -------  Images ------- */

.site-example {
  flex: 1;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

/* -------  Links ------- */

a:link {
  color: black;
}

a:visited {
  color: #6fdff3;
}

a:hover {
  color: rgb(13, 98, 151);
}

a:active {
  color: #a830b8;
}

/* -------  Footer ------- */

footer {
  display: flex;
  color: white;
  background-color: black;
  margin-top: 20px;
}

footer a {
  margin: 0 20px 0 0;
  text-decoration: none;
}

footer a:link {
  color: white;
}

footer a:visited {
  color: #6fdff3;
}

footer a:hover {
  color: rgb(13, 98, 151);
}

footer a:active {
  color: #a830b8;
}

/* -------  Desktops ------- */

@media all and (min-width: 600px) {
  /* Header */
  header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
  }
  header nav {
    margin-top: 15px;
    font-size: large;
    justify-content: flex-end;
  }
  header nav a {
    margin-top: 15px;
    font-size: large;
    justify-content: flex-end;
  }
  #menu-show-hide+label:before {
    position: absolute;
    left: -999em;
  }
  #main-menu a {
    display: flex;
    flex-direction: row;
  }
  #main-menu {
    visibility: visible;
    margin-left: 0%;
  }
  /* Footer */
  footer p {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
  }
  /* Main */
  form textarea {
    height: 4.75rem;
    width: 25%;
    color: #000;
    font-size: 16px;
    margin-bottom: 20px;
  }
  #info {
    display: flex;
    flex-direction: row;
    border: 2px black solid;
  }
}

/* -------  Spacing ------- */

.gap-sm {
  height: 40px;
  width: auto;
}

.gap-md {
  height: 100px;
  width: auto;
}

.gap-lg {
  height: 200px;
  width: auto;
}

.gap-footer {
  height: 10px;
  width: auto;
}

.wrapper {
  width: 85%;
  margin: auto;
}